@import "variable";


@media only screen and (max-device-width: 809px){
    nav[first]{
    .right-top{
        input[type="search"]{
           display: none;
          }
    }
    }
}
// Mobile
@media only screen and (max-device-width: 610px){
    nav[second]{
      flex-direction: column;
    .left{
      display: flex;
      flex-direction: row;
      .icon{
       position: absolute;
       left: 90%;

      }

    }

     ul{
      flex-direction: column!important;  

     }     
      .icon{
        display: block;
      }
    .right{
      flex-direction: column;
      display: none;
    }  
    
    }
}