@media only screen and (max-device-width: 809px) {
  nav[first] .right-top input[type="search"] {
    display: none;
  }
  main section h3 {
    margin-top: 50%;
  }
}

@media only screen and (max-width: 375px) {
  section .top-header-wrapper p[top] {
    font-size: 1.5rem !important;
  }
}

@media only screen and (max-device-width: 546px) {
  header nav[first] {
    display: none;
  }
  section h3 {
    margin-top: 14rem !important;
  }
  section .services {
    width: 100%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .services .content {
    width: 90% !important;
    margin: 0 auto;
    margin-top: 5%;
  }
  footer .footer-wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-wrapper .process {
    margin-top: 9% !important;
  }
  footer .footer-wrapper-second {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 11% !important;
  }
  footer .last-footer-wrapper .phone {
    display: none !important;
  }
  footer .last-footer-wrapper p[data="copy"] {
    text-align: center;
  }
}

@media only screen and (max-device-width: 610px) {
  header .mobile {
    display: block !important;
  }
  header .desktop {
    display: none !important;
  }
  header nav[second] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav[second] .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav[second] .left .icon {
    position: absolute;
    left: 84%;
  }
  header nav[second] .left img {
    margin-left: 2%;
    margin-top: -2%;
  }
  header nav[second] ul {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  header nav[second] ul li:nth-child(2), header nav[second] ul li:nth-child(3),
  header nav[second] ul li:nth-child(4), header nav[second] ul li:nth-child(5) {
    margin-top: 8px;
  }
  header nav[second] .icon {
    display: block;
  }
  header nav[second] .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  header nav[second] .right ul {
    margin-left: 3%;
  }
  header nav[second] .right button[type="button"] {
    width: 200px;
    font-size: 16px;
    margin-left: 3%;
    margin-top: 8px;
  }
}
/*# sourceMappingURL=responsive.css.map */