@import "variable";

// NAVIGATION BAR
@media only screen and (max-device-width: 809px){
  // Navbar
    nav[first]{
    .right-top{
        input[type="search"]{
           display: none;
          }
    }
    }
  // Main  
  main{
    section{
      h3{
        margin-top: 50%;
      }
    }
  }
}
@media only screen and (max-width: 375px){
  // Main
  section{
    .top-header-wrapper{
      p[top]{
       font-size: 1.5rem!important;
      }
    }
  }
  
}
@media only screen and (max-device-width: 546px){
  header{

nav[first]{
  display: none;
}
}
}

@media only screen and (max-device-width: 610px){
  // MOBILE
  header{  
  .mobile {
    display: block!important;
   }
   .desktop{
     display: none!important;
   }
    nav[second]{
      flex-direction: column;
    .left{
      display: flex;
      flex-direction: row;
      .icon{
       position: absolute;
       left: 84%;

      }
      img{
        margin-left: 2%;
        margin-top: -2%;
      }

    }

     ul{
      flex-direction: column!important;  
      li:nth-child(2), li:nth-child(3),
      li:nth-child(4), li:nth-child(5){
        margin-top: 8px;
      }

     }     
      .icon{
        display: block;
      }
    .right{
      flex-direction: column;
      display: none;
      ul{
        margin-left: 3%;
      }
      button[type="button"]{
        width: 200px;
        font-size: 16px;
        margin-left: 3%;
        margin-top: 8px;
      }
    }  
    
    }
  }
  // END OF NAVIGATION
   // Main  
   main{
    section{
      h3{
        // margin-top: 50%!important;
      }
    }
  }
}

