@import "variable";

*{
    margin: 0;
    padding: 0;
}
body{
  // font-size: 10px;
}
// NAVIGATION BAR
header{
// Top navbar
nav[first]{
width: 100%;
min-height: 66px;
max-height: 250px;
left: 0px;
top: 0px;
background: $buttons;
display: flex;
flex-flow: row wrap;
justify-content: space-around;
.left-top{
 p{
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;  
  color: #FFFFFF;
  margin-top: 22px;
 } 
}
.right-top{
  display: flex;
  flex-flow: row wrap;
.phone{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 3rem;
  img{
  width: 30px;
  height: 30px;
  }
  p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;    
    color: #FFFFFF; 
  }
}
input[type="search"]{
  width: 163px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 17px;
  border: none;
  margin-top: 17px;
  margin-left: 6rem;
}
.account{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-left: 6rem;
  img{
  width: 30px;
  height: 30px; 
  }
  p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;    
    color: #FFFFFF;
          
  }
}
}
}
// Hide mobile nav
  .mobile {
   display: none!important;
  }

nav[second]{
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-evenly;
  margin-top: 37px;
  
  .icon{
    display: none;
  }
  .right{
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-between;
    ul{
      display: flex;
      flex-flow: row wrap;  
      margin-top: 20px;
      li{
       list-style-type: none; 
        a{
         font-family: 'Work Sans';
         font-style: normal;
         font-weight: 500;
         font-size: 18px;
         line-height: 21px;      
         color: rgba(0, 0, 0, 0.65);      
         text-decoration: none;    
     }
     a:hover{
       text-decoration: underline;
     }
      }
      li:nth-child(1), li:nth-child(2),
      li:nth-child(3), li:nth-child(4)
      {
       margin-right: 30px;
      }
      li:nth-child(5){
        margin-right: 45px;
      }
     } 
     button[type="button"]{
       width: 233px;
       height: 49px;
       left: 1089px;
       top: 94px;
       background: $buttons;
       border: none;
       font-family: 'Work Sans', sans-serif;
       font-style: normal;
       font-weight: bold;
       font-size: 18px;
       line-height: 21px;
       color: #FFFFFF;
       // margin-right: -3%;
     }
   }
  
}
}
// End of Navigation bar styles

// MAIN
main{
section{
  .top-header-wrapper{
    max-width: 100%;
    height: 640px;
    background-image:url("../image/top-photo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 26px;
    p{
      text-align: center;
      
    }
    p:nth-child(1){
      font-family: 'Muli', sans-serif;
      font-style: normal;
      font-weight: 570;
      font-size: 3rem;
      line-height: 56px;
      color: #393D3F;
      padding-top: 78px;
    }
  p[second]{
    font-family: 'Muli', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;    
    color: #000000;
  }
  // Card with write-up
  .write-up{
    max-width: 1067px;
    height: 465px;   
    background: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 243px;
    
   p{     
font-family: 'Work Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1.2rem;
line-height: 23px;
color: #2D2C2C;
   } 
   img{
  margin-left: 40%;
  margin-top: 7rem;
   }
  }
  }
}

// SERVICES
section{
  h3{
    text-align: center;
    font-family: 'work sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    color: #2D2C2C;
    margin-top: 20%;
  }
  .services{
  // display: grid;
  // grid-template-columns: auto auto auto auto;
  // grid-column-gap: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  .content{
    display: flex;
    flex-flow: row wrap;
     div{
       margin-left: 20px;
       margin-top: 12%;
      h6{
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 27px;
        color: #2D2C2C;
        
      }
      p{
        font-family: 'Muli', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #2D2C2C;
        margin-top: 5%;

      }
    }
  }
  }
}
.goals-location{
  width: 100%;
  height: 543px;
  left: 0px;
  top: 2796px;
  background: #252424;
  div[data="goals"]{
    width: 60%;
    height: 320px;
    background: #56CCF2;
    left: 20%;
    position: absolute;
    top: 1408px;
    // display: none;
    h3{
      font-family: 'work sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 60px;      
      color: #FFFFFF;
      margin-top: 5px;
      
    }
    p{
      font-family: 'work sans',sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #FFFFFF;
      text-align: center;
      margin-top: 4%;
    }
  }
  div[data="location"]{
    // margin-left: auto;
    // margin-right: auto;    
    position: relative;
    top: 60%;
    h3{
      font-family: 'work sans', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 66px;
      color: #FFFFFF;   
      text-align: center;
    }
    p{
      font-family: 'work sans', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 33px;      
      color: #FFFFFF;  
      text-align: center;
    }
  }
}
// Footer
footer{

.footer-wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 64px;
  .about{
    h4{
      font-family: 'work sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      span{
        color: #56CCF2!important;
      }

    }
    p{
      font-family: 'Work Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #262626;
      margin-top: 20px;
    }
    button[type="button"]{
      width: 81px;
      height: 22px;
      left: 213px;
      top: 3509px;
      background: #56CCF2;
      border-radius: 5px;
      border: none;      
      font-family: 'Work Sans',sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      /* identical to box height */
      color: #FFFFFF;
      margin-top: 5px;
    }
  }
  .process{
    h4{
      font-family: 'work sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: #000000;
      span{
        color: #56CCF2!important;
      }
    }
    p{
      font-family: 'Work Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #262626; 
      margin-top: 15px;
    }
    p[data="top"]{
      margin-top: 20px;
    }
  
  }
}
hr{
  max-width: 1204px;
  margin: 0 auto;
}
.footer-wrapper-second{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
  margin-top: 5%;
  
  p{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-right: 5%;

  }
  button[type="submit"]{
    width: 228px;
    height: 45px;
    background: #FFFFFF;
    border: 4px solid #56CCF2;
    box-sizing: border-box;

  }
}
// Last part of the footer
.last-footer-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 3%;
  .phone{
   display: flex;
   flex-direction: row;
   width: 209px;
   height: 53px;
   left: 247px;
   top: 3682px;
   background: #56CCF2;
   box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
   justify-content: center;
   align-items: center;
   font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;

  }
  p[data="sec-logo"]{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;    
    color: #000000;
    span{
      color: #56CCF2;
    }
    
  }
 p[data="copy"]{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 580;
  font-size: 14px;
  line-height: 16px;  
  color: #6C6C6C;
  
 }
 div[data="icons"]{
   display: flex;
   flex-flow: row wrap;
  //  justify-content: space-between;
   img{
     margin-left: 20px;
   }
 }
}
}
}
